{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block imagenHeader %}{% load static %}{% static 'core/assets/img/contacto.jpg' %}{% endblock %}

{% block tituloHeader %}Contacto{% endblock %}
{% block subtituloHeader %}Duoc Gym{% endblock %}
{% block fraseHeader %}Conoce más acerca de planes, servicios, pagos, beneficios y otras dudas{% endblock %}

{% block contenido %}
	<section class="vc_row pb-60 pb-180 bg-no-repeat bg-right-bottom bg-sm-none">
		<div class="container">
			<div class="row">
				<div class="lqd-column col-md-12 pull-up">
					<div class="lqd-column-inner bg-white box-shadow-1">
						<div class="row d-flex flex-wrap align-items-stretch">
							<div class="lqd-column col-md-4 bg-cover bg-center" style="background-image: url({% static 'core/assets/img/contacto_1.jpg' %});"></div><!-- /.lqd-column col-md-4 -->
								<div class="lqd-column col-md-8 px-md-5 pt-30 pb-30">
									<h3 class="font-size-24 lh-165 text-uppercase mr-md-9 pr-md-9">Solicite su pase de acceso completo gratuito de 7 días para fitness</h3>
									<div class="contact-form contact-form-inputs-underlined contact-form-button-block">

										{% if 'OK' in request.GET %}
											<br><div class="alert alert-success" role="alert">Su solicitud ha sido ingresada y enviada correctamente.</div><br>
										{% endif %}
										{% if 'FAIL' in request.GET %}
										<br><div class="alert alert-danger" role="alert">Su solicitud tuvo problemas. Intente nuevamente.</div><br>
										{% endif %}
										<form action="" method="POST">
											{% csrf_token %}
											<div class="row">
												<div class="col-md-6">
													{{form.first_name}}
												</div><!-- /.col-md-6 -->
												<div class="col-md-6">
													{{form.last_name}}
												</div><!-- /.col-md-6 -->
												<div class="col-md-6">
													{{form.email}}
												</div><!-- /.col-md-6 -->
												<div class="col-md-6">
													{{form.phone}}
												</div><!-- /.col-md-6 -->
												<div class="col-md-12 mt-25">
													<input class="font-size-16 font-weight-bold ltr-sp-1 text-uppercase bg-gradient-primary-lr border-none" type="submit" value="Enviar">
												</div><!-- /.col-md-12 -->
											</div><!-- /.row -->
										</form>
									</div><!-- /.contact-form -->
									<p>Respetamos su privacidad, no toleramos el spam y nunca venderemos, alquilaremos o regalaremos su información a terceros.</p>
								</div><!-- /.lqd-column col-md-8 -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>		
{% endblock %}
