{% extends 'core/base.html' %}

{% block title %}Clases{% endblock %}

{% block imagenHeader %}{% load static %} {% static 'core/assets/img/clases.jpg' %}{% endblock %}

{% block tituloHeader %}Clases grupales o{% endblock %}
{% block subtituloHeader %}personalizadas{% endblock %}
{% block fraseHeader %}Motivación y entretención grupal{% endblock %}

{% block contenido %}

    <section class="vc_row pt-90 pb-50 bg-gray">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-12">

							<header class="fancy-title mb-45" id="fancy-title-unlimited-classes">
								<h2 class="text-uppercase ltr-sp-0">CLASES ILIMITADAS</h2>
								<p>Ofrecemos más de 35 clases de ejercicios aeróbicos en grupo cada semana.</p>
							</header>

						</div><!-- /.lqd-column col-md-12 -->

						<div class="lqd-column col-md-12">

							<div class="carousel-container carousel-nav-right carousel-nav-sm carousel-nav-bordered carousel-nav-square carousel-dots-style1">

								<div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left","prevNextButtons":true,"buttonsAppendTo":"#fancy-title-unlimited-classes","pageDots":false,"groupCells":false,"wrapAround":true,"pauseAutoPlayOnHover":false,"navArrow":{"prev":"<i class=\"fa fa-angle-left\"></i>","next":"<i class=\"fa fa-angle-right\"></i>"}}'>

									{% for clase in clases %}
										<div class="lqd-column carousel-item col-md-3 col-sm-6">

											<div class="fancy-box content-box-heading-sm fancy-box-classes">
												<figure class="fancy-box-image">
													<img src="{{clase.image.url}}">
												</figure>
												<div class="fancy-box-contents">
													<div class="fancy-box-info">
														<h3>{{clase.title}}</h3>
														<span class="trainer">
															<i class="fa fa-user-o"></i>
															{{clase.instructor}}
														</span>
													</div><!-- /.fancy-box-info -->
												</div><!-- /.fancy-box-contents -->
											</div><!-- /.fancy-box -->

										</div><!-- /.lqd-column carousel-item col-md-3 col-sm-6 -->
									{% endfor %}

								</div><!-- /.carousel-items -->

							</div><!-- /.carousel-container -->

						</div><!-- /.lqd-column col-md-12 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>	

{% endblock %}