{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block imagenHeader %}{% load static %} {% static 'core/assets/img/contacto.jpg' %}{% endblock %}

{% block tituloHeader %}Contacto{% endblock %}
{% block subtituloHeader %}Duoc Gym{% endblock %}
{% block fraseHeader %}Conoce más acerca de planes, servicios, pagos, beneficios y otras dudas{% endblock %}

{% block contenido %}

<section class="vc_row pb-60 pb-180 bg-no-repeat bg-right-bottom bg-sm-none" style="background-image: url(./assets/demo/bg/bg-67.jpg);">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-12 pull-up">
							<div class="lqd-column-inner bg-white box-shadow-1">
								<div class="row d-flex flex-wrap align-items-stretch">

									<div class="lqd-column col-md-4 bg-cover bg-center" style="background-image: url(./assets/demo/bg/bg-63.jpg);">

									</div><!-- /.lqd-column col-md-4 -->

									<div class="lqd-column col-md-8 px-md-5 pt-30 pb-30">

										<h3 class="font-size-24 lh-165 text-uppercase mr-md-9 pr-md-9">Claim your 7 Days Free Full Access Pass for Fitness</h3>

										<div class="contact-form contact-form-inputs-underlined contact-form-button-block">
											<form action="assets/php/mailer.php" method="post" novalidate="novalidate">
												<div class="row">
													<div class="col-md-6">
														<input type="text" name="name" aria-required="true" aria-invalid="false" placeholder="First Name" required>
													</div><!-- /.col-md-6 -->
													<div class="col-md-6">
														<input type="text" name="l-name" aria-required="true" aria-invalid="false" placeholder="Last Name" required>
													</div><!-- /.col-md-6 -->
													<div class="col-md-6">
														<input type="email" name="email" aria-required="true" aria-invalid="false" placeholder="Your email address" required>
													</div><!-- /.col-md-6 -->
													<div class="col-md-6">
														<input type="tel" name="mobile" aria-required="true" aria-invalid="false" placeholder="Mobile no" required>
													</div><!-- /.col-md-6 -->
													<div class="col-md-12 mt-25">
														<input class="font-size-16 font-weight-bold ltr-sp-1 text-uppercase bg-gradient-primary-lr border-none" type="submit" value="Get started">
													</div><!-- /.col-md-12 -->
												</div><!-- /.row -->
											</form>
											<div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
										</div><!-- /.contact-form -->

										<p>We respect your privacy and do not tolerate spam and will never sell, rent, lease or give away your information to any third party.</p>

									</div><!-- /.lqd-column col-md-8 -->

								</div><!-- /.row -->
							</div><!-- /.lqd-column-inner bg-white box-shadow-1 -->
						</div><!-- /.lqd-column col-md-12 -->

						
				</div><!-- /.container -->
			</section>	
			
		</main><!-- /#content.content -->
		
		<footer class="main-footer pt-80">
			
			<section>
				
				<div class="container">
					<div class="row">
						
						<div class="lqd-column col-md-3 col-sm-6">
							
							<h3 class="widget-title text-white font-size-18 font-weight-bold text-uppercase">MENÚ</h3>
							<ul class="lqd-custom-menu reset-ul text-white lh-2">
								<li><a href="#">Inicio</a></li>
								<li><a href="#">Clases</a></li>
								<li><a href="#">Servicios</a></li>
								<li><a href="#">Instructores</a></li>
								<li><a href="#">Contacto</a></li>
							</ul>
							
						</div><!-- /.col-md-3 col-sm-6 -->
						
						<div class="lqd-column col-md-5 col-sm-6">
							
							<h3 class="widget-title text-white font-size-18 font-weight-bold text-uppercase">Ubicación</h3>
							<div class="liquid-twitter-feed">
								<ul class="liquid-twitter-feed-list">
									<li>
										<blockquote class="twitter-tweet" data-cards="hidden">
											<p lang="en" dir="ltr">Avenida Vicuña Mackenna 4917<br>San Joaquín</p><br><p><a class="" href="https://goo.gl/maps/vtPG53aFrqGGFSNL6" target="_blank">Cómo Llegar</a></p>

										</blockquote>
									</li>
								</ul>
							</div><!-- /.liquid-twitter-feed -->
							
						</div><!-- /.col-md-5 col-sm-6 -->
						
						<div class="lqd-column col-md-3 col-sm-6 col-md-offset-1">
							
							<h3 class="widget-title text-white font-size-18 font-weight-bold text-uppercase">NEWSLETTER</h3>
							<div class="ld-sf ld-sf--input-solid ld-sf--button-solid ld-sf--size-sm ld-sf--sharp ld-sf--border-thin ld-sf--button-show ld-sf--button-block">
								<form id="ld_subscribe_form" class="ld_sf_form" action="https://liquid-themes.us20.list-manage.com/subscribe/post?u=7f582d555cef808a99ea001a7&amp;id=58ab120d89" name="mc-embedded-subscribe-form" method="post">
									<p class="ld_sf_paragraph pr-2">
										<input class="bg-fade-white-005 text-white" type="email" class="ld_sf_text" id="mce-EMAIL" name="EMAIL" placeholder="Correo Electrónico" value="">
									</p>
									<button type="submit" class="ld_sf_submit px-4">
										<span class="submit-text">Suscribirse</span>
										<span class="ld-sf-spinner">
											<span>Sending </span>
										</span>
									</button>
								</form>
								<div class="ld_sf_response"></div>
							</div><!-- /.ld-sf -->
							
						</div><!-- /.col-md-3 col-sm-6 -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
				
			</section>
			
			<section class="bg-fade-dark-05 pt-35 pb-35 mt-65">
				<div class="container">
					<div class="row d-flex flex-wrap align-items-center">
						
						<div class="lqd-column col-md-6 col-xs-12 mb-4 mb-md-0">
							
							<figure>
								<img src="./assets/img/logo/logo-light.svg" alt="Ave">
							</figure>

						</div><!-- /.col-md-6 -->
						
						<div class="lqd-column col-md-6 col-xs-12 text-md-right">
							<ul class="social-icon social-icon-md">
								<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div><!-- /.col-md-6 text-md-right -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

{% endblock %}
