{% extends 'core/base.html' %}

{% block title %}Instructores{% endblock %}

{% block imagenHeader %}{% load static %} {% static 'core/assets/img/instructores.jpg' %}{% endblock %}

{% block tituloHeader %}Conoce{% endblock %}
{% block subtituloHeader %}a nuestros instructores{% endblock %}
{% block fraseHeader %}Personal trainers y entrenadores especialistas en fitness, yoga, pilates y spinning.{% endblock %}

{% block contenido %}
    <section class="vc_row pt-120 pb-100">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-8 col-md-offset-2">

							<header class="fancy-title mb-45 text-center mb-70">
								<h2 class="text-uppercase ltr-sp-0">EXPERT TRAINERS</h2>
								<p>All classes are suitable for both men and women and all levels of fitness welcome.</p>
							</header>

						</div><!-- /.lqd-column col-md-8 col-md-offset-2 -->

						<div class="lqd-column col-md-4 text-center mb-30">

							<figure>
								<img src="./assets/demo/team/team-37.jpg" alt="David Richards">
							</figure>

							<h3 class="mb-2">David Richards</h3>
							<h6 class="mt-0 mb-20 font-size-12 text-uppercase ltr-sp-1 text-primary">BOOTCAMP TRAINER</h6>

							<p class="mb-30">Superstrong former athlete with numerous fitness and health awards with 7 published books on Crossfit lifestyle.</p>

							<ul class="social-icon social-icon-md">
								<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>

						</div><!-- /.lqd-column col-md-4 -->

						<div class="lqd-column col-md-4 text-center mb-30">

							<figure>
								<img src="./assets/demo/team/team-38.jpg" alt="David Richards">
							</figure>

							<h3 class="mb-2">David Richards</h3>
							<h6 class="mt-0 mb-20 font-size-12 text-uppercase ltr-sp-1 text-primary">BOOTCAMP TRAINER</h6>

							<p class="mb-30">Superstrong former athlete with numerous fitness and health awards with 7 published books on Crossfit lifestyle.</p>

							<ul class="social-icon social-icon-md">
								<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>

						</div><!-- /.lqd-column col-md-4 -->

						<div class="lqd-column col-md-4 text-center mb-30">

							<figure>
								<img src="./assets/demo/team/team-39.jpg" alt="David Richards">
							</figure>

							<h3 class="mb-2">David Richards</h3>
							<h6 class="mt-0 mb-20 font-size-12 text-uppercase ltr-sp-1 text-primary">BOOTCAMP TRAINER</h6>

							<p class="mb-30">Superstrong former athlete with numerous fitness and health awards with 7 published books on Crossfit lifestyle.</p>

							<ul class="social-icon social-icon-md">
								<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>

						</div><!-- /.lqd-column col-md-4 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
{% endblock %}